.page{



}




@viewport{
  zoom:1.0;
  width:device-width;
}

nav.navbar{

  margin-bottom: 0px;
  height: 7.15em;


}




div.jumbotron{
  margin-left: 15%;
  margin-right:15%;
  margin-bottom: 0px;
  opacity: 0.93;
  border-radius: 0!important;


}


.image{


height: 36em;
width: 42.64392324093817%;





}

.image_second_block{


height: 36em;

width:50%;

float:left;



}

.carousel-inner > .item img{
   width:100% !important;
   height:100% !important;
}

.item{
  width: 100%;
  height: 36em;



}






img{

width:100%;
height: 100%;


}

.image{

  float:left;

}

.two-blocks{
  margin-left:15%;
  margin-right:15%;

  border-bottom: 0px !important;
  height: 36em;

}

.second_block{
  margin-left:15%;
  margin-right:15%;


  height: 36em;

}

div.information{

font-family: Times, "Times New Roman", Georgia, serif;
color:darkslategrey;

opacity:0.97;
height: 100%;
width: 100%;
padding-left: 13.3086876155268%;


}

.info{

  float: left;
  background-image: url("CheckBlack.jpg");
  /*background-color: #646b74;*/
  position: relative;




  height: 36em;
  width: 57.20338983050847%;

  border-radius: 0px !important;
}

.info_second_block{
  float: right;
  background-image: url("CheckBlack.jpg");
  position: relative;
  height: 36em;
  width: 50%;



}




p.Name{
}

p.Category{
  font-size: 15px;
  margin-bottom: 30px;

}

p.phone{
  margin-bottom:-10px;
  font-size: 15px;
}
p.number{

 margin-bottom:30px;
 font-size:17px;
}

p.myemail{
  font-size:15px;
  margin-bottom: 30px;
}

p.email{
  font-size:17px;

  margin-bottom:-10px;
}



p.myaddress{
  font-size:15px;
  margin-bottom: 30px;
}

p.Address{
  font-size: 17px;
  margin-bottom:-10px;

}


p.mydob{
  font-size: 17px;
  margin-top:-10px;
}

p.DOB{
  font-size: 15px;
}


.navbar-nav >li a {

margin-top: 18px;
font-size: 20px;

}

a[target]{

font-size: 40px;
font-family: Times, "Times New Roman", Georgia, serif;
}

.container-fluid > .navbar-header{
  margin-top: 20px;
  margin-left: 45px !important;
}


nav.navbar{
  background-color:#362166;
  opacity: 0.93;
}


.navbar-right
{

font-family: Times, "Times New Roman", Georgia, serif;
}

body{

  background-image: url("chemistry.jpg");

}


h5:hover{

  font-size:20px !important;
}



p.text-info{

 font-style: oblique;
 font-family: Times, "Times New Roman", Georgia, serif;


 overflow: hidden; /* Ensures the content is not revealed until the animation */
 border-right: .15em solid orange; /* The typwriter cursor */
 white-space: nowrap; /* Keeps the content on a single line */
 margin: 0 auto; /* Gives that scrolling effect as the typing happens */
 letter-spacing: .10em; /* Adjust as needed */
 animation:
   typing 4.0s steps(40, end),
   blink-caret .75s step-end infinite;

}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}


h3.edu{

color: white !important;
font-size: 60px;
margin-top: -20px;
font-family: "Times Header";
}

h3.exp{

  color: white !important;
  font-size: 60px;
  margin-top: -20px;
  font-family: "Times Header";
}

.second{
  margin-top:0px !important;
  background-color:#362166  !important;
  height: 7.936em;
  opacity: 0.96 !important;
}


.third{
  margin-top:0px;
  background-color:#547D83 !important;
  height: 7.936em;
  opacity: 0.96 !important;
}

.educlass{



}
